# eOVPN-Pro autopkgtest definitions
# تعریف‌های autopkgtest برای eOVPN-Pro

Tests: smoke
Depends: @,
         python3,
         python3-gi,
         gir1.2-gtk-4.0,
         gir1.2-adw-1,
         gir1.2-secret-1,
         gir1.2-notify-0.7,
         gir1.2-nm-1.0,
         network-manager-openvpn,
         openvpn,
         xvfb
Restrictions: allow-stderr
