#!/usr/bin/make -f

export DH_VERBOSE = 1
export PYBUILD_NAME = eovpn

%:
	dh $@ --buildsystem=meson

override_dh_auto_configure:
	dh_auto_configure -- -Dopenvpn3=false

override_dh_auto_install:
	dh_auto_install
