[Desktop Entry]
Name=eOVPN Pro
GenericName=eOVPN Pro
Comment=OpenVPN Configuration Manager (Pro Version)
Icon=com.github.mahdi-arts.eovpn-pro
Exec=eovpn
Terminal=false
Type=Application
Categories=Network;X-VPN;
Keywords=VPN;OpenVPN;Network;Tunnel;Proxy;Privacy;
StartupNotify=false
X-GNOME-UsesNotifications=true
