[Desktop Entry]
Name=eOVPN Pro
GenericName=eOVPN Pro
Comment=OpenVPN Configuration Manager (Pro Version)
Icon=com.github.mahdi-bagheban.eovpn-pro
MimeType=application/x-openvpn-profile;
Exec=eovpn %f
Terminal=false
Type=Application
Categories=Network;X-VPN;
StartupNotify=false
